@import url('https://fonts.googleapis.com/css?family=Lato:100,300');

#shortBio {
    font-size: 19px;
    /* color: #aaaaaa; */
    font-weight: 100;
    font-family: 'Lato', 'Helvetica Neue';
}

#singh {
    color: #e74c3c
}

h1 {
    font-weight: 300;
    font-family: 'Lato', 'Helvetica Neue';
}