.siteNavLinks {
    display: flex;
    width: 40%;
    justify-content: space-around;
}

.link:link {
    color: black;
}

.link:hover {
    border-bottom: 1.5px solid #95a5a6;
}

.link:active {
    border-bottom: 1px solid black;
}

.link:visited {
    color: black;
}